.bookmark-wrapper {
    margin-left: 1.5rem;

    .bookmark-heading {
        padding: 1.5rem 0rem;

        h2 {
            font-size: 1.75rem;
            font-weight: 500;
        }
    }

    .list-container {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .list-container-loader {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        .bookmark-card-loader {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;

            .image-loader {
                width: 240px;
                height: 170px;
                border-radius: 12px;
                background: linear-gradient(
                    90deg,
                    #f3f4f6 0%,
                    #e5e7eb 50%,
                    #f3f4f6 100%
                );
                background-size: 200% 100%;
                animation: shimmer 1.5s ease-in-out infinite;
            }

            .name-container-loader {
                width: 175px;
                height: 20px;
                border-radius: 8px;
                background: linear-gradient(
                    90deg,
                    #f3f4f6 0%,
                    #e5e7eb 50%,
                    #f3f4f6 100%
                );
                background-size: 200% 100%;
                animation: shimmer 1.5s ease-in-out infinite;
            }

            .location-container-loader {
                width: 125px;
                height: 10px;
                border-radius: 8px;
                background: linear-gradient(
                    90deg,
                    #f3f4f6 0%,
                    #e5e7eb 50%,
                    #f3f4f6 100%
                );
                background-size: 200% 100%;
                animation: shimmer 1.5s ease-in-out infinite;
            }
        }
    }

    @keyframes shimmer {
        0% {
            background-position: -200% 0;
        }
        100% {
            background-position: 200% 0;
        }
    }
}